.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0px;
  max-width: 1184px;
}

@media (min-width: 1440px) {
  .header {
    padding: 20px 64px;
  }
}

.navLinkLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;

  transition: color var(--transition);
}

.navLinkLogo:hover,
.navLinkLogo:focus,
.navLinkLogo:active {
  color: var(--button);
}

.navMenu,
.headerButtons {
  display: none;
}

.headerBurger {
  color: black;

  display: flex;
  align-items: center;
  justify-content: center;
}

.headerBurger:hover,
.headerBurger:focus,
.headerBurger:active {
  color: var(--button);
}

@media (max-width: 1440px) {
  .nav,
  .authNav {
    display: none;
  }
}

@media (min-width: 1440px) {
  .headerBurger {
    display: none;
  }
}
