.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  margin-bottom: 24px;
}

@media screen and (min-width: 1440px) {
  .hero {
    flex-direction: row;
    gap: 24px;
  }
}

.text_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  border-radius: 30px;
  padding: 32px;

  background: #f8f8f8;
}

@media screen and (min-width: 1440px) {
  .text_block {
    height: 506px;
  }
}

.title {
  font-weight: 500;
  font-size: 35px;
  line-height: 117%;
  letter-spacing: -0.02em;
  margin-bottom: 32px;
  text-align: start;
}

@media screen and (min-width: 1440px) {
  .title {
    font-size: 48px;
    width: 548px;
  }
}

.color_word {
  font-style: italic;
  background-color: var(--main);
  border-radius: 8px;
  font-weight: 400;
}

.description {
  font-size: 16px;
  line-height: 138%;
  letter-spacing: -0.02em;
  text-align: start;
  margin-bottom: 64px;
}

.button {
  border-radius: 12px;
  padding: 16px;
  background-color: var(--button);
  width: 267px;
}

.photo_block {
  width: 100%;
  background-color: var(--main);
  border-radius: 30px;
  max-width: 568px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroFace {
  margin-top: 47px;
  width: 199px;
  height: 161px;
}

@media screen and (min-width: 768px) {
  .heroFace {
    margin-top: 80px;
    width: 339px;
    height: 274px;
  }
}

.notebook {
  height: 90px;
  width: 231px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--laptop);
}

@media screen and (min-width: 768px) {
  .notebook {
    width: 391px;
    height: 152px;
  }
}

.heroApple {
  width: 28px;
  height: 33px;
}

@media screen and (min-width: 768px) {
  .heroApple {
    width: 47px;
    height: 56px;
  }
}
